<!DOCTYPE html>
<html>
<head>
  <title>RhymeRemix</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body ng-view>
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">
          <strong>Remix Me</strong><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
        </a>
      </div>
    </div>
  </nav>

<div class='container' ng-app='rapGenerator'>
  <%= yield %>
</div>

</body>
</html>
